body {
    padding: 40px;
    background-color: #5a228b;
}

#container {
    display: grid;
    width: 600px;
    height: 600px;
    border: 1px solid #252525;
    background-color: white;
    margin: 0 auto;
}

.header {
    text-align: center;
    color: white;
}

.hovered {
    background-color: #252525;
}